* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  padding: 10px 15px;
  border-bottom: 7px solid rgba(6, 77, 168, 1);
}

.resume {
  padding-inline: 15px;
  margin: auto;
  max-width: 900px;
  box-shadow: 2px 5px 10px 2px #808080;
}

/*===============================*/
/*            Form Styles        */
/*===============================*/

.edit--form {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 50;
  padding: 20px;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(46, 133, 155);
}

.edit--form-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit--form-inputs {
  background: transparent;
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  color: rgb(219, 219, 219);
}

.edit--form-labels {
  color: white;
}

/*===============================*/
/*          Button Styles        */
/*===============================*/

.edit--button,
.form-buttons {
  margin-inline: 5px;
  padding: 10px 15px;
  background: rgb(68, 167, 248);
  color: white;
  border: none;
  border-radius: 5px;
}

.edit--button {
  position: absolute;
  bottom: 5px;
  right: 0;
}

/*===============================*/
/*          Header Styles        */
/*===============================*/

.header {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-bottom: 3px solid rgba(6, 77, 168, 1);
}

.header--name,
.header--title {
  width: 100%;
  text-align: center;
}

.header--name {
  padding-top: 15px;
}

.header--title-container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 77, 168, 1) 25%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  padding: 2px;
}

.header--contact {
  display: flex;
  justify-content: space-evenly;
}

.header--contact-detail {
  margin: 0;
  padding-block: 2px;
  color: rgba(6, 77, 168, 1);
}

/*===============================*/
/*       Education Styles        */
/*===============================*/
.education {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education--degree,
.education--university {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education--degree-date,
.education--university-location {
  font-weight: 400;
}

.education--details {
  padding-left: 5%;
}

.education--details li span {
  font-weight: 700;
}
